* {
    box-sizing: border-box;
}
body {
    padding: 0;
    margin: 0;
    border: 0;
}
div {
    display: block;
}
#logo_pic {
    width: 200px;
}
#btn_focus, #btn_undo {
    display: block;
    height: 100%;
    width: 100%;
}
#div_type {
    width: 100%;
    text-align: left;

}
#content {
    cursor: pointer;
    margin-right: 1rem;
    width: 100%;
}
#main {
    align-items: stretch;
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    padding: 0;
}

#main_pic {
    align-self: flex-start;
    text-align: center;
    max-width: 400px;
    min-width: 20em;
}

#main_list {
    min-width: 30em;
    text-align: right;
}
#list_elem {
    margin-bottom: .1rem;
}
#list_elem[status="unchecked"] {
    background-color: rgb(235,152,210);
}
#list_elem[status="checked"] {
    background-color: darkseagreen;
}
#list-box {
    display: flex;
    flex-direction: column;
}
#list-box > div {
    display: inline-flex;
    justify-content: flex-end;
    padding: 0.1em;
}
#list-box > div > div {
    border: .1em;
}
#pic_dragzone {

}
#pic_filename, #pic_size {
    display: block;
}